.buttonJS {
    top: 23px;
    right: 50px;
    width: 50px;
    height: 25px;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.button {
    background-color: Transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
    position: fixed;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    z-index: 555;
    background-color: Transparent;
    transition-duration: 0.4s;
}
h1 {
    color: red;
}